.page-container {
    /* text-align: center; */
    /* padding: 40px; */
}

.card-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
    max-width: 1240px;
    border: 2px solid red;
}

.card {
    width: 220px;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #eee;
    cursor: pointer;
    transition: 0.3s;
}

.card.active {
    border-color: #ff6b4a;
    background: #fff4f1;
}

.continue-btn {
    padding: 12px 30px;
    border-radius: 25px;
    border: none;
    background: #ccc;
    color: white;
    cursor: not-allowed;
}

.continue-btn.active {
    background: #ff6b4a;
    cursor: pointer;
}