.difference-section {
    padding: 60px 10px;
    background: #ffffff;
    max-width: 420px;
    margin: 0 auto;
}

.difference-title {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 12px;
}

.difference-title span {
    color: #ff4d2d;
}

.difference-subtitle {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #6b6b6b;
    margin-bottom: 28px;
}

.difference-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.difference-card {
    background: #ffffff;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.difference-image {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 14px;
}

.difference-card h3 {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 17.77px;

    line-height: 28.43px;
    letter-spacing: 0%;


}

.difference-card p {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #6b6b6b;
}