.testimonial-section {
    padding: 60px 10px;
    max-width: 1384px;

    /* position: relative; */
    margin: 0 auto;

}

.testimonial-tag {
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(170, 88, 0, 1);


    margin-bottom: 10px;
}

.testimonial-title {
    font-family: Montserrat;
    font-weight: 600;

    font-size: 36px;

    line-height: 48px;
    letter-spacing: 0%;

    margin-bottom: 10px;
}

.testimonial-subtitle {
    /* max-width: 600px; */
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;

    line-height: 24px;
    letter-spacing: 0%;

    color: #666;
    font-size: 15px;
    margin-bottom: 40px;
}

.testimonial-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;


}

.testimonial-track {
    display: flex;
    gap: 15px;
    flex: 1;
    transition: transform 0.5s ease;
}

.testimonial-card {
    min-width: 50%;
    background-color: #f5f5f5;

    border-radius: 15px;
    padding: 15px 8px;
}

.stars {
    color: #ffb400;
    font-size: 18px;
    margin-bottom: 15px;
}

.testimonial-text {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px;
    line-height: 1.6;
    color: rgba(51, 51, 51, 0.9);
}

.testimonial-user {
    display: flex;
    align-items: center;
    gap: 12px;
}

.testimonial-user strong {
    font-family: Montserrat;
    font-weight: 600;

    font-size: 18px;

    line-height: 100%;


}

.testimonial-user img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.testimonial-user span {
    display: block;
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;

    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(102, 102, 102, 0.8);


}

.testimonial-controls {
    position: absolute;
    right: 10px;
    bottom: 2px;
    display: flex;
    gap: 12px;


}

.testimonial-controls button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(170, 88, 0, 1);

    cursor: pointer;
    font-size: 16px;
}



/* Mobile */

@media (max-width:480px) {
    .testimonial-section {
        padding: 20px 10px;
        width: 100%;
        margin: 0 auto;
        top: -6rem;
        position: relative;
    }

    .testimonial-tag {
        font-family: Montserrat;
        font-weight: 500;
        font-style: Medium;
        font-size: 8px;

        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;

    }

    .testimonial-title {
        font-family: Montserrat;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 26px;

        line-height: 36px;
        letter-spacing: 0%;
        text-align: center;
    }

    .testimonial-subtitle {
        font-family: Montserrat;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;

        line-height: 21px;
        letter-spacing: 0%;
        text-align: center;

    }

    .testimonial-wrapper {
        position: relative;
        overflow: hidden;
        padding-bottom: 60px
    }

    .testimonial-track {
        display: flex;
        gap: 20px;
        flex-direction: column;

        transition: transform 0.4s ease;
    }

    .testimonial-card {
        min-width: 50%;
        background-color: #f5f5f5;

        border-radius: 14px;
        padding: 25px;
    }

    .testimonial-text {
        font-family: Montserrat;
        font-weight: 400;
        font-style: Regular;
        font-size: 10px;
        line-height: 1.5;
        letter-spacing: 0%;

        color: rgba(51, 51, 51, 0.9);
    }

    .testimonial-user strong {
        font-family: Montserrat;

        font-weight: 600;
        font-style: SemiBold;
        font-size: 10.41px;

        line-height: 100%;
        letter-spacing: 0%;


    }

    .testimonial-user span {
        display: block;
        font-family: Montserrat;

        font-weight: 500;
        font-style: Medium;
        font-size: 8.1px;

        line-height: 100%;
        letter-spacing: 0%;

        color: rgba(102, 102, 102, 0.8);


    }

    .testimonial-controls {
        display: none;
    }


}